@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-2"  ng-include="'pages/LeftMenu.html'"></div>
        <div class="col-md-10" ng-view></div>
    </div>
</div>
